<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juxing.mapper.NewsMapper" >
  <resultMap id="BaseResultMap" type="com.juxing.pojo.News" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="news_id" property="newsId" jdbcType="VARCHAR" />
    <result column="news_title" property="newsTitle" jdbcType="VARCHAR" />
    <result column="news_createtime" property="newsCreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.juxing.pojo.News" extends="BaseResultMap" >
    <result column="news_content" property="newsContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, news_id, news_title, news_createtime
  </sql>
  <sql id="Blob_Column_List" >
    news_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ymt_news
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="ResultMapWithBLOBs">

    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ymt_news

  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ymt_news
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juxing.pojo.News" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ymt_news (news_id, news_title, news_createtime, news_content)
    values (#{newsId,jdbcType=INTEGER}, #{newsTitle,jdbcType=VARCHAR}, now(), #{newsContent,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.juxing.pojo.News" >
    update ymt_news
    set news_id = #{newsId,jdbcType=INTEGER},
      news_title = #{newsTitle,jdbcType=VARCHAR},
      news_createtime = #{newsCreatetime,jdbcType=TIMESTAMP},
      news_content = #{newsContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.juxing.pojo.News" >
    update ymt_news
    set news_id = #{newsId,jdbcType=INTEGER},
      news_title = #{newsTitle,jdbcType=VARCHAR},
      news_createtime = #{newsCreatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>