<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juxing.mapper.PhoneCodeMapper" >
  <resultMap id="BaseResultMap" type="com.juxing.pojo.PhoneCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ymt_phonecode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ymt_phonecode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.juxing.pojo.PhoneCode" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ymt_phonecode (phone, code)
    values (#{phone,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.juxing.pojo.PhoneCode" >
    update ymt_phonecode
    set phone = #{phone,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>